@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "gotham-bold";
	src: url("../fonts/gotham-bold/gotham-bold.eot");
	src: url("../fonts/gotham-bold/gotham-bold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/gotham-bold/gotham-bold.woff") format("woff"),
			 url("../fonts/gotham-bold/gotham-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: "gotham-book";
	src: url("../fonts/gotham-book/gotham-book.eot");
	src: url("../fonts/gotham-book/gotham-book.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/gotham-book/gotham-book.woff") format("woff"),
			 url("../fonts/gotham-book/gotham-book.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: "gotham-medium";
	src: url("../fonts/gotham-medium/gotham-medium.eot");
	src: url("../fonts/gotham-medium/gotham-medium.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/gotham-medium/gotham-medium.woff") format("woff"),
			 url("../fonts/gotham-medium/gotham-medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
			 url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/OpenSansBold/OpenSansBold.eot");
	src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
			 url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto-BoldCondensed";
	src: url("../fonts/Roboto-BoldCondensed/Roboto-BoldCondensed.eot");
	src: url("../fonts/Roboto-BoldCondensed/Roboto-BoldCondensed.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Roboto-BoldCondensed/Roboto-BoldCondensed.woff") format("woff"),
			 url("../fonts/Roboto-BoldCondensed/Roboto-BoldCondensed.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
